
/* map */
#map-container {
  width: 80%;
  margin: auto;
  height: 40vw;
}

#map-container svg {
  background: white;
}


.country-path:hover {
  fill: var(--link-colour);
}

#disp-grp{
  display: none;
}

/* chart */
#chart-container {
  width: 90%;
  margin: auto;
  height: 20vw;
  background: white;
}

#chart-container svg {
  background: white;
}

#desc-container a, #trainer-txt-container a {
  text-decoration: none;
  color: var(--link-colour);
}

#desc-container p {
  font-size: 1.3rem;
}

#desc-container {
  width: 75%;
  margin: auto;
  text-align: center;
}

#trainer-txt-container p {
  font-size: 2rem;
}

#trainer-txt-container {
  text-align: center;
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 8rem;
  width: 90%;
}
