/* image container */
#img-container {
  background: black;
  width: 70%;
}

#img-container img {
  width: 100%;
}

#img-header {
  display: flex;
  align-items: center;
}

#img-header-filler {
  margin: auto;
}

#side-btns-container {
  width: 15%;
  align-self: start;
}

#side-btns {
  width: fit-content;
  margin: auto;
  padding-right: 20%;
}

/* btns */
.btn {
  padding: 0.5rem 1rem;
  width: fit-content;
  border-radius: 2rem;
  border: 0.1rem solid white;
  user-select: none;
}

.green-btn-active:hover, .red-btn-active:hover {
  cursor: pointer;
  text-shadow: 0 0.0625rem 0.125rem #171235;
}

.green-btn-active {
  border-color: var(--link-colour) !important;
}

.green-btn-active:hover {
  background: var(--link-colour);
}

.red-btn-active {
  border-color: red !important;
}

.red-btn-active:hover {
  background: red;
}

.white-btn-active {
  border-color: white;
}

.white-btn-active:hover {
  cursor: pointer;
  background: white;
  color: var(--purp);
  text-shadow: none !important;
}

.inactive-btn {
  color: var(--inactive-gray);
  border-color: var(--inactive-gray) !important;
}

/* input container */
#ans-container {
  margin: auto;
  display: flex;
  width: fit-content;
  align-items: center;
  margin-top: 1rem;
}

#ans-field {
  width: 25rem;
  font-family: 'ggFont', sans-serif;
  border-radius: 0.4rem;
  font-size: 1.5rem;
  padding: 0.5rem;
}

#ans-container > .btn {
  margin-left: 0.5rem;
}

.correct-ans {
  color: black;
  border: 0.25rem solid var(--link-colour);
  background: white;
}

.wrong-ans {
  color: black;
  border: 0.25rem solid red;
  background: white;
}
