/* image container */
#img-container {
  background: black;
  width: 70%;
}

#img-container img {
  width: 100%;
}

#img-header {
  display: flex;
  align-items: center;
}

#img-header-filler {
  margin: auto;
}

#side-btns-container {
  width: 15%;
  align-self: start;
}

#side-btns {
  width: fit-content;
  margin: auto;
  padding-right: 20%;
}

/* input container */
#ans-container {
  margin: auto;
  display: flex;
  width: fit-content;
  align-items: center;
  margin-top: 1rem;
}

#ans-field {
  width: 25rem;
  font-family: 'ggFont', sans-serif;
  border-radius: 0.4rem;
  font-size: 1.5rem;
  padding: 0.5rem;
}

#ans-container > .btn {
  margin-left: 0.5rem;
}

.correct-ans {
  color: black;
  border: 0.25rem solid var(--link-colour);
  background: white;
}

.wrong-ans {
  color: black;
  border: 0.25rem solid red;
  background: white;
}
